.wrp{
    padding: 3rem;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}
.about h1{
    font-weight: 700;
    font-size: 3rem;
}
.about p{
    font-weight: 200;
    font-size: 1.6rem;
    color: rgba(139, 145, 152, 1);
  
}
.about-para{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
}
.s-2{
padding-top: 3rem;
padding-bottom: 3rem;
}